body{
	font-family: 'Montserrat';
}
.form-control{
	width: 100%;
}
.btn-lg{
	font-size: 14px;
	padding: 10px;
	margin-top: 21px;
}
.capital{
	padding: 10px;
    background: #F8F8F8;
    border-radius: 5px;
    margin-top: 4px;
}
#cajafotos {
	width: 80%;
	margin: auto;
}
img{
	width: 100%;
}
